# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist some files
!.gitignore
!README.md
!load_package.r
!image.plot.pre.r
!image.plot.nxm.r
!leap_function.r
!m2lat.r
!m2lon.r
!myccf.r
!mytxtProgressBar.r
!gcd.r
!myls.r
!mylocator.r
!mysetOutputColors.r
!myRPrompt.r
!ps.r
!mylocator.r
!inertial.r
!convb.r
!myfunctions.r
!rfesom_varlist2readme.r
!gh-md-toc # update README.md TOC (used by ./git/pre-commit)
!colors/* # trailing / optional if there is not a file 'colors'
colors/ncview.c # but ignore this one

## git rm -r -f --cached
