# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist some files
!.gitignore
!README.md
**.log # ending with .log
!image.plot.pre.r
!leap_function.r
!m2lat.r
!m2lon.r
!progress.r
!colors/ # trailing / optional if there is not a file 'colors'

