# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist some files
!.gitignore
!README.md
!load_package.r
!image.plot.pre.r
!leap_function.r
!m2lat.r
!m2lon.r
!mytxtProgressBar.r
!gcd.r
!ls2.r
!colors/* # trailing / optional if there is not a file 'colors'
colors/ncview.c

## git rm -r -f --cached
